.loading-container {
  width: 100%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #888;
}
.loader {
  border: 1rem solid #f3f3f3; /* Light grey */
  border-top: 1rem solid #777;
  border-bottom: 1rem solid #777;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  align-self: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}